body {
	margin: 0;
	padding: 0;
	background: silver;
	border: 1px solid black;
	font-size: 14px;
	font-family: Arial;
}

input {
	font-family: Arial;
	font-size: 12px;
	margin: 0 0 0 3px;
}

input[type=text] {
	border: 1px solid white;
}

input[type=button], input[type=number] {
	margin: 2px 0px 2px 15px;
	width: 130px;
	display: block;
	border: 1px solid white;
	background: silver;
}

button {
	margin: 0 0 10px 15px;
	width: 70px;
	border: 1px solid white;
	background: silver;
}

button+button {
	margin: 0;
}

input:hover, button:hover /*, input:hover, button:hover, #ammoMenu div input:hover, #lobby input:hover*/ {
	border: 1px solid black !important;
}

input {
	border: 1px solid white !important;
}


canvas {
	width: 1000px;
	height: 400px;
	/*-apple-dashboard-region:dashboard-region(control rectangle 0px 0px 0px 0px);*/
}

#canvasContainer {
	width: 300px;
	overflow: auto;
}

#controls {
	padding: 0 0 0 10px;

}
#log {

}

#showMessage, #windContainer {
	position: absolute;
	top: 50px;
	left: 1px;
	width: 300px;
	text-align: center;
	font-size: 20px;
	font-weight: 200;
}

#angleDiv,#powerDiv {
	z-index: 2;
	position: absolute;
	left: -100px;
	top: -100px;
}

#mainmenu {
	height: 250px;
}



#ammoMenu label, #terrainMenu label {
	margin-left: 15px;
	display:inline-block;
	width: 6em;
}

#ammoMenu div input, #terrainMenu div input {
	display: inline;
	border: 1px solid white;
	width: 30px;
}

#terrainMenu div input {
	width: 50px;
}

#terrainMenu p {
	font-size: 12px;
	margin: 10px 5px 10px 5px;
}

#powerDisplay, #angleDisplay {
	border: 1px solid black;
	width: 40px;
	text-align: center;
	display:inline-block;
}

#displayHolder p {
	margin: 0 0 2px;
}

#weaponsHolder {
	margin: 0 0 0 10px;
}


#weaponMenu {
	text-align: center;
}

#weaponMenu img+img {
	margin: 1px;
}

#lobby input, #createGameMenu div input {
	display: inline-block;
	margin: 0;
	border: 1px solid white;
}

#createGameMenu div input[type=number] {
	width: 40px;
}

#createGameMenu label {
	margin-left: 15px;
	display:inline-block;
	width: 7em;
}

#lobby input[type=button] {
	width: 50px;
}

#message {
	width: 400px;
}

#chatHolder {
	margin: 0;
	margin-left: 3px;
}
#chat {
	margin: 0;
	font-size: 12px;
	width: 470px;
	border: 1px solid black;
	height: 330px;
	overflow: auto;
}

#ingameChat {
	font-size: 12px;
	width: 280px;
	height: 100px;
	overflow: auto;
	border: 1px solid gray;
}

#userList, #roomList {
	width: 100%;
	font-size: 12px;
}

#lobby {
	width: 600px;
}

#lobbyLeft,#lobbyRight {
	float:left;
	width: 100px;
}

#lobbyLeft input[type=button] {
	width: 100%;
}

.menu {
	border: 1px solid black;
	position: absolute;
	left: 25px;
	top: 10px;
	width: 250px;
	min-height: 100px;
	background: silver;
	padding: 0 0 10px;
}

.healthDisplay {
	position: absolute;
}

.float {
	float: left;
}

.selector {
	opacity: 0.3;
	border: 1px solid black;
}

.selector:hover {
	opacity: 0.5;
}

.selected, .selected:hover {
	opacity: 1.0;
}
