<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>TankWar 2.0&copy;</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.3/dojo/dojo.xd.js"></script>
        <script type="text/javascript" src="org/cometd.js"></script>
        <script type="text/javascript" src="js/Size.js"></script>
        <script type="text/javascript" src="js/Vector2.js"></script>
        <script type="text/javascript" src="js/Tank.js"></script>
        <script type="text/javascript" src="js/TerrainGenerator.js"></script>
        <script type="text/javascript" src="js/Terrain.js"></script>
        <script type="text/javascript" src="js/TankWar.js"></script>
        <script type="text/javascript" src="dojox/cometd.js"></script>
        <script type="text/javascript" src="common.js"></script>
        <script type="text/javascript" src="pixelfont.js"></script>
        <script type="text/javascript" src="menu.js"></script>
        <script type="text/javascript" src="timing.js"></script>
        <script type="text/javascript" src="weapons.js"></script>
        <script type="text/javascript" src="human.js"></script>
        <script type="text/javascript" src="ai.js"></script>
        <script type="text/javascript" src="checkupdate.js"></script>
        <script type="text/javascript" src="mp.js"></script>
        <script type="text/javascript">
        var requestPath = '{{data.path}}cometd';
        window.onload = function() {
            var app = new TankWar();
            app.run();
        };
        </script>
	</head>
	<body></body>
</html>
