<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>TankWar 2.0&copy;: The reckoning</title>
        <script type="text/javascript">
            
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/dojo.xd.js"></script>
        <script type="text/javascript" src="js/Loader.js"></script>
        <script type="text/javascript" src="js/Renderer.js"></script>
        <script type="text/javascript" src="js/Math.js"></script>
        <script type="text/javascript" src="js/Size.js"></script>
        <script type="text/javascript" src="js/Point.js"></script>
        <script type="text/javascript" src="js/Rect.js"></script>
        <script type="text/javascript" src="js/Vector2.js"></script>
        <script type="text/javascript" src="js/Tank.js"></script>
        <script type="text/javascript" src="js/TerrainGenerator.js"></script>
        <script type="text/javascript" src="js/Simulation.js"></script>
        <script type="text/javascript" src="js/Shell.js"></script>
        <script type="text/javascript" src="js/Terrain.js"></script>
        <script type="text/javascript" src="js/TankWar.js"></script>
        <script type="text/javascript" src="js/Geom.js"></script>
      
        <script type="text/javascript">
        var requestPath = '{{data.path}}cometd';
        window.onload = function() {
            var loader = new Loader();

            var log = dojo.byId('log');
            dojo.connect(loader, 'onAssetLoaded', function() {
                log.innerHTML = loader.getLoadedCount() + ' / ' + loader.getLoadingCount();
            });

            dojo.connect(loader, 'onAllAssetsLoaded', function() {
                var app = new TankWar();
                app.run();
            });

            loader.loadAssets({
                images: ['ground_tile.jpg', 'sky.jpg'],
                classes: []
            });
        };
        </script>
        <div id="log"></div>
	</head>
	<body></body>
</html>
